<div class="card">
  <p-messages></p-messages>
    <p-table
    #dt
    [value]="produtos"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['nome']"
    [selection]="true"


  >
    <ng-template pTemplate="caption">
      <div>
        <span class="header">
          <h2>Produtos</h2>
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Pesquisa"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Preço maior</th>
        <th>Preço médio</th>
        <th>Preço menor</th>
        <th>Última Atualização</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-produto>
      <tr routerLink="/produto/{{produto.id}}">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
        routerLink='/produto/'
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
