<div class="p-grid">
  <p-messages></p-messages>
  <h2>Produto</h2>
  <form id="form1">
    <label for="idProduto">Código:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="produto.id"
      name="idProduto"
      id="idProduto"
      disabled
      class="p-inputtext"
    />

    <label for="nomeProduto">Nome:</label>
    <input
      [(ngModel)]="produto.nome"
      name="nomeProduto"
      type="text"
      id="nomeProduto"
      placeholder="Nome"
      required
      class="p-inputtext"
    />

    <label for="categoriaProduto">Categoria:</label>
    <select
      [(ngModel)]="produto.categoria"
      name="categoriaProduto"
      id="categoriaProduto"
      required
    >
      <option value=""></option>
      <option value="Chapa">Chapa</option>
      <option value="Barra">Barra</option>
      <option value="Peça">Peça</option></select
    ><br />

    <label>Espessura: </label>
    <input
      [(ngModel)]="produto.espessura"
      type="number"
      name="espessuraProduto"
      id="espessuraProduto"
      placeholder="mm"
      required
      class="p-inputtext"
    />

    <label for="pesoProduto">Peso M²/Linear/Peça:</label>
    <input
      [(ngModel)]="produto.peso"
      type="number"
      name="pesoProduto"
      id="pesoProduto"
      placeholder="kg"
      required
      class="p-inputtext"
    /><br />

    <label for="criacaoProduto">Data Criação:</label>
    <input
      type="text"
      value="{{ produto.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}"
      name="criacaoProduto"
      id="criacaoProduto"
      disabled
      class="p-inputtext"
    />

    <label for="alteracaoProduto">Última alteração:</label>
    <input
      type="text"
      value="{{ produto.dataAtualizacao | date: 'dd/MM/yyyy HH:mm:ss' }}"
      name="alteracaoProduto"
      id="alteracaoProduto"
      disabled
      class="p-inputtext"
    />
  </form>
  <hr />
  <button
    pButton
    name="btExcluir"
    id="btExcluir"
    class="p-button-danger"
    (click)="confirm()"
  >
    Excluir
  </button>

  <button
    pButton
    name="btSalvar"
    id="btSalvar"
    class="p-button-success"
    type="submit"
    form="form1"
    (click)="addOrUpdateProduto()"
  >
    Salvar
  </button>

  <button pButton name="btVoltar" id="btVoltar" routerLink="/produtos/">
    Voltar
  </button>

  <p-confirmDialog #cd [style]="{ width: '50vw' }">
    <ng-template pTemplate="header">
      <h3>Confirmação</h3>
    </ng-template>
    <ng-template pTemplate="footer">
      <button
        type="button"
        pButton
        icon="pi pi-times"
        label="Não"
        (click)="cd.reject()"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        label="Sim"
        (click)="cd.accept()"
      ></button>
    </ng-template>
  </p-confirmDialog>
</div>
