<div class="card">
  <p-messages></p-messages>
  <p-table
    #dt
    [value]="fornecedores"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['nome']"
    [selection]="true"
  >
    <ng-template pTemplate="caption">
      <div>
        <span class="header">
          <h2>Fornecedores</h2>
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Pesquisa"
            class="p-inputtext"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Contato</th>
        <th>Telefone</th>
        <th>Email</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fornecedor>
      <tr routerLink="/fornecedor/{{ fornecedor.id }}">
        <td>{{ fornecedor.id }}</td>
        <td>{{ fornecedor.nome }}</td>
        <td>{{ fornecedor.contato }}</td>
        <td>{{ fornecedor.telefone }}</td>
        <td>{{ fornecedor.email }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
        routerLink="/fornecedor/"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
